html {
    max-width: 50em;
    margin: auto;
}

button{
    display: block;
    margin: 1em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 10em;
    height: 5em;
}

.slider-container {
    overflow-x: auto;
    white-space: nowrap;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}

.card {
    display: inline-block;
    width: 20%;
    height: auto;
    margin-right: 10px;
    scroll-snap-align: start;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
    background-color: #fff;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card p {
    width: auto;
    white-space: normal;
    margin: 1em;
}

.posts {
    display: flex;
    width: 300%;
    transition: transform 0.5s ease-in-out;
}

.card-link {
    text-decoration: none;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    width: 60%; /* Ajusta el ancho de la imagen según tus preferencias */
    height: auto;
    border-radius: 8px;
    margin: 0% 10%;
}

.card h4 {
    color: #222;
    margin: 10px 0;
}

.card p {
    color: #222;
}


.date {
    color: #222;
    font-size: 12px;
    margin-top: 5px;
}

footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
}
footer a {
    color: white;
}

.logo img {
    display: block;
    margin-bottom: 10px;
}

.socials a {
    color: white;
    text-decoration: none;
    margin: 10px;
}

.contact-info h4,.legal-info h4 {
    color: white;
}

.contact-info a,.legal-info a {
    display: block;
    margin: 5px;
    color: #fff;
    text-decoration: none;
}

.copyright {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 10px 0;
}

@media (max-width: 50em) {
    html {
        margin: auto 1rem;
    }
}

