@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

:root {
  --nav-height: 2rem;
  --color-primary: #1d4ed8;
  --color-secondary: #ccc;
  --font-family: 'Poppins', sans-serif;
}

html,
body {
  box-sizing: border-box;
  font-family: var(--font-family);
  background-color: #18181B;
}

* {
  outline: none;
  border: none;
  box-sizing: inherit;
}



img {
  border-radius: 5px;
  border-style: solid;
  border-width: 2px;
  border-color: var(--color-primary);
}

button {
  display: block;
  margin: 1em;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 10em;
  height: 5em;
}

nav {
  max-width: 1200px;
  height: var(--nav-height);
  margin: auto;
  padding: 2rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  position: sticky;
  top: 0;
  z-index: 3;
  box-sizing: content-box;
}

#about {
  padding-top: 80px;
}

.nav-logo {
  max-height: 100%;
}


.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3rem;
}

.link {
  display: contents;
}

.link a {
  position: relative;
  color: var(--color-secondary);
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  padding: 5px;
}

.link a::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-primary);
  transition: all 0.3s ease;
}

.link a:hover::after {
  width: 70%;
}

.languajes-tools {
  padding: 1rem 2rem;
  font-size: 1rem;
  color: var(--color-secondary);
  background-color: var(--color-primary);
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.languajes-tools:hover {
  background-color: var(--color-primary);
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 5rem 2rem;
}

.blur {
  box-shadow: 0 0 1000px 50px var(--color-primary);
  z-index: -100;
}

.projects div>img {
  width: 30%;
}

header {
  position: relative;
  padding-top: 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2rem;
}


header .content h1 {
  color: var(--color-secondary);
  margin-bottom: 1rem;
  font-size: 3rem;
  font-weight: 700;
  line-height: 4rem;
}

header .content h2 {
  margin-bottom: 1rem;
  color: var(--color-secondary);
  font-size: 1rem;
  font-weight: 600;
}


header .image img {
  max-width: 600px;
  margin: auto;
  border: initial;

}

section .header {
  margin-bottom: 1rem;
  color: var(--color-secondary);
  text-align: center;
  font-size: 2.25rem;
  font-weight: 600;
}

section .About-me h2 {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px var(--color-secondary);
}

section .About-me p {
  margin-bottom: 2rem;
  color: var(--color-secondary);
}


section .projects h3,
p {

  color: var(--color-secondary);
}

.top-langs p {
  position: relative;
  text-align: center;
  padding-top: 1em;

}

.top-langs img {
  max-width: 20em
}

.languajes-tools {
  position: relative;
  text-align: center;
  padding-top: 1em;

}

.languajes-tools.active {
  border: rgb(255, 255, 255) solid 2px;
  color: black;
  background-color: rgb(224, 184, 4);
}

.tec {
  position: relative;
  text-align: center;

}

.tec img {
  border: initial;
}

.slider-container {
  overflow-x: auto;
  white-space: nowrap;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}

.project {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.project-content {
  flex: 1;
  margin-right: 20px;
}

.project-image img {
  width: 100px;
  height: auto;
}


.card {
  display: inline-block;
  max-width: 20em;
  height: auto;
  margin-right: 10px;
  scroll-snap-align: start;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
  background-color: var(--color-secondary);
  margin-bottom: 20px;
  border: 1px solid var(--color-secondary);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card p {
  width: auto;
  white-space: normal;
  margin: 1em;
}

.posts {
  display: flex;
  width: 300%;
  transition: transform 0.5s ease-in-out;
}

.card-link {
  text-decoration: none;
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  width: 60%;
  height: auto;
  border-radius: 8px;
  margin: 0% 10%;
}

.card h4 {
  color: #222;
  margin: 10px 0;
}

.card p {
  color: #222;
}

.date {
  color: #222;
  font-size: 12px;
  margin-top: 5px;
}

footer {
  position: relative;
  text-align: center;
  padding-top: 1em;
  grid-template-columns: 400px repeat(3, 1fr);
  gap: 2rem;
}

footer .column .logo {
  max-width: 100px;
  margin-bottom: 2rem;
}

footer .column p {
  color: var(--color-secondary);
  margin-bottom: 2rem;
}

footer .column .socials {
  position: relative;
  padding-top: 1em;
  gap: 1rem;
}

footer .column .socials a {
  color: var(--color-secondary);
  border: 1px solid var(--color-secondary);
  padding: 5px 10px;
  font-size: 1.25rem;
  border-radius: 100%;
  transition: all 0.3s ease;
}

footer .column .socials a:hover {
  color: var(--color-secondary);
  background-color: var(--color-primary);
  border-color: var(--color-primary);
}

footer .column h4 {
  color: var(--color-secondary);
  margin-bottom: 2rem;
  font-size: 1.2rem;
  font-weight: 500;
}

footer .column>a {
  display: block;
  color: var(--color-secondary);
  margin-bottom: 1rem;
  transition: all 0.3s ease;
}

footer .column>a:hover {
  color: var(--color-primary);
}

.copyright {
  max-width: 1200px;
  margin: auto;
  padding: 1rem;
  color: var(--color-secondary);
  font-size: 0.8rem;
  text-align: center;
}

@media (max-width: 850px) {
  .nav-links {
    display: none;
  }

  nav {
    justify-content: space-between;
  }

  .nav-logo {
    margin: 0 auto;
    max-width: 150px;
  }

  header {
    grid-template-columns: repeat(1, 1fr);
  }

  header .image {
    grid-area: 1/1/2/2;
  }

  footer {
    grid-template-columns: 1fr 200px;
  }
}

@media (max-width: 700px) {


  body {
    font-size: 16px;
  }

  header .image::before {
    display: none;
  }

  footer {
    grid-template-columns: 1fr 150px;
  }

  nav {
    padding: 1rem;
  }

  .nav-logo {
    max-width: 80px;
  }

  .nav-links {
    flex-direction: column;
    gap: 0.5rem;
  }

  .link a {
    width: auto;
    text-align: center;
  }

  .container {
    padding: 2rem 1rem;
  }

  .project-image img {
    display: none;
  }

  header {
    grid-template-columns: 1fr;
  }

  header .image img {
    max-width: 100%;
  }

  .slider-container {
    overflow-x: scroll;
    padding-bottom: 1rem;
  }

  .column {
    width: 100%;
    text-align: center;
  }
}

@supports ((-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px))) {
  .blur {
    -webkit-backdrop-filter: blur(10px); 
    backdrop-filter: blur(10px);
    box-shadow: 0 0 1000px 50px var(--color-primary);
    z-index: -100;
  }
}